# Core Deep Learning
torch>=2.0.0
torchvision>=0.15.0

# Computer Vision & Image Processing
opencv-python>=4.8.0
Pillow>=10.0.0

# Data Calculation & Metrics
numpy>=1.24.0
scikit-learn>=1.2.0

# Visualization (dành cho file Notebook)
matplotlib>=3.7.0